@mixin imagePlaceholder() {
	// image placeholder on post
	background-image: linear-gradient(
		to bottom,
		rgba(#da7f7f, .75),
		rgba(#728691, .75),
		rgba(#5ea6b8, .75),
		rgba(#ddbaaa, .75)
	);
}

@mixin bgCover($_pos:center) {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: $_pos;
}
